{% extends "base.html" %}

{% block content %}

<h2>{{ customuser.username }}</h2>
<p>{{ customuser.first_name }}</p>


{% if user.username == customuser.username %}
    <h3>Events you are hosting:</h3>
{% else %}
    <h3>Events {{ customuser.username }} is hosting:</h3>
{% endif %}

<ul>
    {% for event in customuser.event_set.all %}
        <li>
            <a href="{% url 'PoorEvents:event-detail' event.pk %}">{{ event.event_name }}</a>
        </li>
    {% endfor %}
</ul>

{{ customuser.event_set }}

{% if user.username == customuser.username %}
    <h3>Events you are attending:</h3>
    {% for event in user.event_set.attendees.all %}
        <li>
            {{ event.event_name }}
        </li>
    {% endfor %}
{% endif %}

{% if user.username == customuser.username  %}
    <a href="{% url 'PoorUsers:update-account' user.pk %}">Update Profile</a>
{% endif %}

{% endblock %}