{% extends "base.html" %}

{% load static %}

{% block content %}

<p>event detail content goes here.</p>

<p>Event name: {{ event.event_name }}</p>
<p>What: {{ event.event_description }}</p>
<p>Where: <a href="{% url 'PoorEvents:venue-detail' event.event_venue.slug %}">{{ event.event_venue }}</a></p>
<p>Start Time: {{ event.event_start_datetime }}</p>
<p>End Time: {{ event.event_end_datetime }}</p>
{% if event.event_photo %}
    <p><img src='{{ event.event_photo.url }}'></p>
{% else %}    
    <p>There is no photo for this event</p>
{% endif %}
<p>Host: <a href="{% url 'PoorUsers:profile' event.host.pk %}">{{ event.host }}</a></p>
<p>Categories: {% for category in event.category.all %}{{ category }}{% endfor %}</p>

{% if user.is_authenticated %}

    {% if event.attendees.all|length == 0 %}
        <p>no one is attending this event</p>
    {% else %}
        <p>There are {{ event.attendees.all|length }} people attending this event</p>
        Attendees: 
        {% for user in event.attendees.all %}
            <a href="{% url 'PoorUsers:profile' user.pk %}">{{ user }}</a>
        {% endfor %}
    {% endif %}

{% endif %}

{% endblock %}
