{% extends "base.html" %}

{% load static %}

{% block content %}

    <p>event detail content goes here.</p>

    <p>Event name: {{ event.event_name }}</p>
    <p>What: {{ event.event_description }}</p>
    <p>Where: {{ event.event_venue }}</p>
    <p>Start Time: {{ event.event_start_datetime }}</p>
    <p>End Time: {{ event.event_end_datetime }}</p>
    {% if event.event_photo %}
        <p><img src='{{ event.event_photo.url }}'></p>
    {% else %}    
        <p>There is no photo for this event</p>
    {% endif %}
        <p>Host: {{ event.host }}</p>
    <p>Categories: {% for category in event.category.all %}{{ category }}{% endfor %}</p>

{% endblock %}
