{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>You're Not Too Poor</title>
        <meta name="description" content="">
        <meta name="author" content="Sarah Levins">
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script type="text/javascript" src="{% static '/admin/js/core.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/admin/css/widgets.css' %}">
        <style>
            .calendar>table>caption{caption-side:unset}
        </style><!--caption fix for bootstrap4-->

    </head>

    <body>
        <header>
            <div>
                <h1>You're Not Too Poor.</h1>
                <h2>No more excuses. Go out.</h2>
            </div>
        
        {% include './nav.html' %}

        </header>

        {% block content %}{% endblock %}
        
        </body>